<?xml version="1.0"?>
<robot name="my_plane" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="cylinder_length" value="1.5"/>
    <xacro:property name="radius" value="0.05"/>

    <link name="base_footprint" />

    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="${cylinder_length}" radius="${radius}"/>
            </geometry>
            <origin rpy="${pi / 2.0} 0 0" xyz="0 0 ${radius}"/>
        </visual> 
    </link>

    <xacro:macro name="wing" params="prefix">
        <link name="wing_${prefix}">
            <visual>
                <geometry>
                    <box size="${cylinder_length / 2.0} ${(cylinder_length / 2.0) / 10.0} ${(cylinder_length / 2.0) / 100.0} "/>
                </geometry>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </visual> 
        </link>    
    </xacro:macro>  

    <xacro:wing prefix="left"/>
    <xacro:wing prefix="right"/>

    <link name="cockpit">
        <visual>
            <geometry>
                <sphere radius="${radius}"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
        <material name="green"/>
    </link>

    <xacro:macro name="rudder" params="prefix">
        <link name="rudder_${prefix}">
            <visual>
                <geometry>
                    <box size="${(cylinder_length / 2.0) / 2.5} ${((cylinder_length / 2.0) / 10.0) / 2.5} ${(cylinder_length / 2.0) / 100.0} "/>
                </geometry>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </visual> 
        </link>
    </xacro:macro>

    <xacro:rudder prefix="left"/>
    <xacro:rudder prefix="right"/>

    <link name="tail">
        <visual>
            <geometry>
                <box size="${((cylinder_length / 2.0) / 2.5) / 2.0} ${((cylinder_length / 2.0) / 10.0) / 2.5} ${(cylinder_length / 2.0) / 100.0} "/>
            </geometry>
            <origin rpy="0 ${pi / 2.0} 0" xyz="0 0 0"/>
        </visual> 
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <joint name="base_wing_left_joint" type="fixed">
        <parent link="base_link"/>
        <child link="wing_left"/>            
        <origin rpy="0 0 0" xyz="-${((cylinder_length / 2.0)/2.0) + radius} ${ cylinder_length / 4.0} ${radius}"/>
    </joint>

    <joint name="base_wing_right_joint" type="fixed">
        <parent link="base_link"/>
        <child link="wing_right"/>
        <origin rpy="0 0 0" xyz="${((cylinder_length / 2.0)/2.0) + radius} ${ cylinder_length / 4.0} ${radius}"/>
    </joint>   

    <joint name="base_cockpit_joint" type="fixed">
        <parent link="base_link"/>
        <child link="cockpit"/>
        <origin rpy="0 0 0" xyz="0 ${cylinder_length / 2.0} ${radius}"/>
    </joint>

    <joint name="base_rudder_left_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rudder_left"/>
        <origin rpy="0 0 0" xyz="-${((cylinder_length / 2.0)/2.5/2.0) + radius} -${cylinder_length * (3.0 / 8.0)} ${radius}"/>
    </joint>

    <joint name="base_rudder_right_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rudder_right"/>
        <origin rpy="0 0 0" xyz="${((cylinder_length / 2.0)/2.5/2.0) + radius} -${cylinder_length * (3.0 / 8.0)} ${radius}"/>
    </joint>

    <joint name="base_tail_joint" type="fixed">
        <parent link="base_link"/>
        <child link="tail"/>
        <origin rpy="0 0 0" xyz="0 -${cylinder_length * (3.0 / 8.0)} ${((((cylinder_length / 2.0) / 2.5) / 2.0) / 2.0) + (radius * 2.0)}"/>
    </joint>

</robot>